<%- include("partials/head") %>

<body id="body">
    <%- include("partials/navbar") %>
    <div class="container mt-3 w-50">
        <div class="jumbotron">
            <h1>Publicar producto</h1>
            <br>
            <form id="formAgregarProducto">
                <div class="form-group">
                    <label for="title"><b>Titulo</b></label>
                    <input type="text" id="title" class="form-control" name="title" required>
                </div>
                <div class="form-group">
                    <label for="price"><b>Precio</b></label>
                    <input type="number" id="price" class="form-control" name="price" required>
                </div>
                <div class="form-group">
                    <label for="thumbnail"><b>Imagen</b></label>
                    <input type="text" id="thumbnail" class="form-control" name="thumbnail" required>
                </div>

                <button class="btn btn-success mt-3 mb-5" type="submit" value="Send">Submit</button>
            </form>
        </div>
    </div>

    <script src="/socket.io/socket.io.min.js"></script>
    <script> const socket = io(); </script>
    <script src="/js/publicar-producto.js"></script>
</body>

</html>